.Bbtn{
    background-color: aquamarine;
    border-radius: 12px;
    padding-left: 30px;
    position: relative;
    padding: 15px 0;
    padding-left: 28px;
    padding-right: 10px;
    min-width: 100px;
    display: inline-block;
    text-shadow: 1px 1px 1px #999;
    border: 1px solid rgb(111, 230, 235);
}
.Bbtn::before{
    content: '';    
    position: absolute;
    left: 5px;
    height: 20px;
    width: 20px;
    background-image: url('../../../assets/img/img_v2_986bc3c6-5d07-4419-801f-7006ff5e349g.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.Bbtn:hover{
    background-color:aqua;
    cursor: pointer;
    box-shadow: 2px 2px 2px #222;
}